name: Build App-3 Prod
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: read
  packages: write 

jobs:
  trigger-reusable-workflow:
    uses: azure-terraform-infra/release-rollback-repo/.github/workflows/build-images.yaml@main
    secrets: inherit
    with:
      version: ${{ github.ref_name }}
      app-name: ${{ github.event.repository.name }}