name: Hot Fix App-3
on:
  push:
    branches:
      - 'hot-fix*'
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag to build'
        required: true
        type: string
        default: 'hot-fix-2025-01-01'
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
          - dev
          - prod
        default: 'prod'

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  trigger-build-images-workflow:
    uses: azure-terraform-infra/release-rollback-repo/.github/workflows/build-images.yaml@main
    with:
      version: ${{ inputs.VERSION }}
      app-name: ${{ github.event.repository.name }}

  trigger-deploy-charts-workflow:
    needs: trigger-build-images-workflow
    uses: azure-terraform-infra/app-charts/.github/workflows/charts.yaml@main
    with:
      version: ${{ inputs.VERSION }}
      environment: ${{ inputs.environment }}